// _Variables
@import "../Layout/variables";

.Widget {
  background-color: $secondaryColor;
  border-radius: $small-radius;
  padding: 30px 25px;
  box-shadow: $box-shadow-normal;

  h2 {
      margin-bottom: 15px;
  }

}